.head_item {
    text-align: center;
    font-size: 3rem;
}
.item2 {
    font-size: 1.3rem;
}
.image_item {
    width: 30rem;
    height: 15rem;
}
.head_item2 {
    text-align: center;
    font-size: 2rem;
}
.list_item {
    font-size: 1.3rem;
}